.app__records {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__log {
  display: flex;
  flex-direction: column;
}

.app__record {
  background-color: lightgrey;
  border: 1px solid gray;
  height: 130px;
  margin-bottom: 10px;
  width: 300px;
}

.app__id, .app__email {
  font-weight: 700;
}

.app__log-record {
  background-color: blanchedalmond;
}

.app__warning {
  background-color: coral;
}
